.contact-container {
  padding: 30px;
  background-color: #ffff;
}

.contact-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: rgb(0, 45, 127) solid 2px;
  border-radius: 10px;
}

.image-contact {
  margin-right: 1rem;
  max-width: 50%;
}

@media screen and (max-width: 600px) {
  .image-contact {
    margin-right: 1rem;
    max-width: 80%;
  }
}
