.mini-card-component {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: center;
  text-align: center;
}

.mini-card-border {
  box-shadow: 0 5px 10px 0px rgb(0, 0, 0);
  border-radius: 2%;
  width: 10vw;
}
.mini-card-body {
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.icon {
  font-size: 40px;
}

.title {
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  .mini-card-border {
    box-shadow: 0 5px 10px 0px rgb(0, 0, 0);
    border-radius: 2%;
    width: 30vw;
  }
}
